body
{
    font-family: 'Helvetica', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    margin: 0;
}
.Top
{
    width: auto;
    height: 82px;
    background-image: linear-gradient(#4e69a1,#3b5997);
    font-size: 12px;
    color: #ffffff;
}
#Login
{
    background-color: #4267b2;
    color: #ffffff;
    text-decoration-color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    border-color:#29487d;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    
    
}
#Login:hover
{
    background-color: transparent;
    color: #ffffff;
    text-decoration-color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    border-color:#29487d;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    
    
}
#Login:active
{
    background-color:#f5f6f7;
    color: #4267b2;
    text-decoration-color: #4267b2;
    border-width: 0.5px;
    border-style: solid;
    border-color:#ccd0d5;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    
}

#Top-Right-Table
{
    size:392 65;
    align-self: center;
}
#username-input,#password-input
{
    width:140px;
    height: 15px;
}
.Input-Container-Label
{
    padding-bottom:  4px;
    padding-left: 14px;
}
.Top-Container
{
    margin:auto;
    width:980px;
    height:69px;
    padding-top: 10px;
}
.Top-Right
{
    float: right;
}
.Top-Left
{
    padding-top: 20px;
    float: left;
}
.Input-Container
{
    padding-left: 14px;
}
.Login-Label
{
    padding-left: 14px;
    
}
#Forgot-a
{
        color: #9cb4d8; 
        text-decoration: none;
}
#Forgot-a:hover
{
        color: #9cb4d8;
        text-decoration: underline;
}
.Bottom
{
    background-image: linear-gradient(#ffffff,#d8dcea);
    height:572.5px;
}
.Bottom-Container
{
    width: 980px;
    margin:auto;
}
.Bottom-Left
{
    float: left;
    width: 580px;
}
.Bottom-Left-Text
{
    font-weight: bold;
    font-size: 20px;
    color: #0e385f;
    margin-top: 40px;
    width:480px;
    line-height:27px;
}
.Bottom-Right
{
    float: right;
    width:400px;
}
.Bottom-Right-Text
{
    width:400px;
    padding-top:20px;
    padding-bottom: 20px;
}
.Bottom-Right-Text1
{
    font: 'Freight Sans';
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #333;
    margin-bottom: 5px;
    
}
.Bottom-Right-Text2
{
    font: 'Freight Sans';
    font-weight:normal !important;
    font-size: 19px;
    line-height: 126%;
    color: #333;
    margin-bottom: 20 px;

}
.Sign-Form
{
    background-color: transparent;
    position: relative;
}
}
.Name
{
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
}
.Sign-Up-Button-div
{
    width:400px;
    height:59px;
}
#Sign-Up-Button
{
    background-image:linear-gradient(#67ae55, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    color: #ffffff;
    text-decoration-color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    border-top-color: rgb(59, 110, 34);
    border-right-color: rgb(59, 110, 34);
    border-bottom-color: rgb(44, 81, 21);
    border-left-color: rgb(59, 110, 34);
    border-radius: 5px;
    font-size: 19px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-weight: 600;
    text-rendering: optimizeLegibility;
    line-height: 126%;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Sign-Up-Button:hover
{
    background-image:linear-gradient(#81cf6d, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    color: #ffffff;
    text-decoration-color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    border-top-color: rgb(59, 110, 34);
    border-right-color: rgb(59, 110, 34);
    border-bottom-color: rgb(44, 81, 21);
    border-left-color: rgb(59, 110, 34);
    border-radius: 5px;
    font-size: 19px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-weight: 600;
    text-rendering: optimizeLegibility;
    line-height: 126%;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#terms-link,#privacy-link,#cookie-use-link
{
    font-size: 11px;
    text-decoration: none;
    color: #365899;
 
}
.birthday-help
{
    font-size: 11px;
    text-decoration: none;
    color: #365899;
    width:150px;
    padding-left: 5px;
    height:28px;
    display: inline-block;
    max-width: 140px;
    vertical-align: middle;
}

.helpx
{
    font-size: 11px;
    text-decoration: none;
    width:316px;
    color: #767676;
}
.birthday-help:hover,#terms-link:hover,#privacy-link:hover,#cookie-use-link:hover
{
    font-size: 11px;
    text-decoration: underline;
    width:316px;
}
#Birthday
{
    width:400px;
}
.inputtext
{
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    width: 172px;
    align-self: auto;
}
#Surname
{
    float: right;
}
.Name,.Mobile,.New-Password{
    width:399px;
    height:49px;
}
.inputtext2
{
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    width: 377px;
}
.Birthday-Text
{
    width:400px;
    height:24px;
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 5px;
}
.Birthday-Selectors
{
    display: inline-block;
    width:400px;
}
select
{
    font-size: 13px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid #bdc7d8;
    color: black;
    background-color: white;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.Birthday-Selectors{
}
.Gender
{
    padding-top: 10px;
    margin-top: 10px;
    width: 400px;
    height:32px;

}
.Gender label{
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}
.helpx-cont
{
    width: 399px;
    height:42px;
    padding-bottom:5px;
}
.Links
{
    height:50px;
    background-color: white;
    align-self: auto;
}

#Create-Page 
{
    font-weight: bold;
    color:#3a3a3a;
    font-size: 12px;
}

#Create-Page a 
{
    text-decoration: none;
    font-weight: bold;
    color:#365899;
}
#Create-Page a:hover 
{
    text-decoration: underline;
}
#FB
{
    float:left;
    max-width: 100px;
    padding-top: 20px;
}
.Links2
{
    width:980px;
    margin:auto;
    font-size: 11px;
    color: #767676;
}
#Done
{
    max-width: 200px;
    float:right;
    padding-top: 20px;
}